<% themes = ["main", "red"] %>
<html>
  <head>
    <title>Ensei Webtop</title>
	<%= stylesheet_link_tag (params['theme'] or themes.first), :id => "theme" %>
	<%= javascript_include_tag :all %>
  </head>
  <body>
	<div id="loginPart"><div style="" id="loginWindow">
		<%= image_tag 'ensei.png' %><br/>
		<table><tr><td><strong>Username:</strong></td><td><input id="username"/></td></tr><tr><td><strong>Password:</strong></td><td><input id="password" type="password"/></td></tr><tr><td><button class="enseiButton" id="loginButton" onClick="processLogin();">Login</button></td><td><button class="enseiButton" id="signupButton" onClick="processSignup();">Sign up</button></td></tr></table>
	</div></div>
	<div id="desktopPart" style="display:none">
	    <div id="desktop"></div>
	    <div id="footbar" onmouseover='getElementById("footbar").style.opacity = 1.0' onmouseout='getElementById("footbar").style.opacity = 0.6'><span>
		  <input id="footbar_url" value="http://" /> <a href='#' onclick='openService(document.getElementById("footbar_url").value, "window");document.getElementById("footbar_url").value = "http://"'><%= image_tag 'plus.gif' %></a> <a href='#' onclick='openService("<%= url_for :action => "menu" %>", "Menu")'><%= image_tag 'menu.gif' %></a> <a href='#' onclick='logout()'><%= image_tag 'logout.gif' %></a> Theme: <% themes.each do |i| %><a href="#" onclick="$('theme').href = '<%= path_to_stylesheet i %>';"><%= i %></a> <% end %>
		</span></div>
	</div>
  </body>
</html>